body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #554c5f;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 5px;
  margin: 20px auto;
  width: fit-content;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #eae8e8;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(14, 237, 6);
}

#message {
  font-size: 1.5em;
  margin-top: 20px;
}
